<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="assets/scripts/main.js"></script>

<script src="partials/footer/script.js"></script>
<script src="partials/header/script.js"></script>
<script src="templates/contact/script.js"></script>
<!-- Modules -->

<!-- endbuild -->
